body {
  margin: 0;
  background-color: #f8f9fa; /* Bootstrap 배경 느낌 */
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

body {
  font-family:
    "Pretendard",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
