body {
  margin: 0;
  background-color: #f8f9fa; /* Bootstrap 배경 느낌 */
}

@font-face {
  font-family: "KohiLearn";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

.logo-text {
  font-family: "KohiLearn";
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #3a74e9;
}

body {
  font-family:
    "Pretendard",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
